<div class="d-container">
    <div class="l-container">
        <img src="/assets/details.jpg">
    </div>
    <div class="r-container">
        <h1>Physical Damage</h1>
        <p>
            Now are days We see many people use their Damaged display Phones, Just because display is costlier.
             Try to avoid that while you are purchasing the Handsets just Enroll the pranams policy Based on terms and conditions they will fit new original-display to your handset in free of cost.
        </p>
    </div>
</div>
<div class="dd-container">
    <div class="container2">
        <h1>Water Damage</h1>
        <p>
            Now are days We see many people use their Damaged display Phones, Just because display is costlier.
             Try to avoid that while you are purchasing the Handsets just Enroll the pranams policy Based on terms and conditions they will fit new original-display to your handset in free of cost.
        </p>
    </div>
    <div class="container1">
        <img src="/assets/details1.jpg">
    </div>
</div>

<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title">
                    Clients
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="f-wrapper">
                    SLV Mobile Shop near Canara Bank Sindhnur 584128 MOB: 9845024774
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Sri Ram teleSystem Shop Sindhnur 584128 MOB: 9845436547
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    PPC Mobile Shop Sindhnur 584128 MOB: 9980660068
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Sajjalo Sri Mobile Shop Sindhnur 584128 MOB: 8317405060
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Sri Raghavendra Mobile Shop Sindhnur 584128
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Mailar Mobile Shop Maski
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Kiran Sales and Mobile Shop Maski MOB: 9972584777
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Sri Guru Raghavendra Mobile shop Maski MOB: 8880005231
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Venkateshwar Mobile Shop Maski MOB: 9535893777
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Akash Mobile Shop Pothnal MOB: 9980802782
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Vikas Watches And Gift center Pothnal MOB: 9535764915
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    R K Mobile shop Pothnal
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Roopa mobile Shop Pothnal MOB: 8217771443
                </div>
            </div>
        </div>
    </div>
</div>