<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title">
                    Features
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="f-wrapper">
                    One of the best feature is this applies for physical and water damages. None of the companies are giving this offer like us. 
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    The Pranams Policy help you to replace the new Tools.
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    DoorStep Process
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Faster compare to others.
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    We will send your mobile Authorized service centres.
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    Low Cost [Affordable]
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    This is Applicable for both Software and Hardware
                </div>
            </div>
            <div class="col-md-6">
                <div class="f-wrapper">
                    24x7 Service Assistance.
                </div>
            </div>
        </div>
    </div>
</div>