.bg{
    background-color: #fafafa;
    
    .title{
        color: #fd7e14;
        text-align: center;
        font-size: 35px;
        font-style: normal;
    }
    .f-wrapper{
        color: rgb(46, 30, 83);
        line-height: 35px;
        font-style: oblique;
    }
}