<div class="container mt-5">
    <h1>About</h1>
    <p>
        Pranams is one of the successive insurance company. And it is one of the best offline protection policy But now we are entering into online join hands with us.
        This plan protect your phone from the physical damage and liquid damage etc. And Gives Peace Of Mind Against Any Kind Of Accidental Damages.
        Having Pranams Policy You no need to worry about damages. We are with you let's change the world just join hands with us.
    </p>
</div>