.container{
    h1{
        text-align: center;
        color: #fd7e14;
        font-size: 45px;
    }
    p{
        font-size: large;
        font-style: oblique;
        color: rgb(46, 30, 83);
        line-height: 40px;
    }
}