<div class="footer-wrap">
    <div class="left">
        <h2>WHY YOU HAVE TO ENROLL PRANAMS POLICY</h2>
        <P>
            Mobile companies will not give guarantee to your mobile physical damage and liquid damage. 
            And Now are days there are many phones with in a year of purchasing mobile, Display will brake down. 
            After that you need to pay more money to purchase new company display to your mobile. 
            So to avoid such things you just Enroll the pranams policy The pranams Policy will care about your mobile for one year. Terms&Conditions can Apply.
        </P>    
    </div>
    <div class="address">
        <div class="address1">
           <p> Registered Office :<br>
            Pranams Mobile Insurance Service Centre<br>
            G Venkatrao colony near new bus stand<br>
            Sindhanur- 584 128 dt. Raichur, Karnataka</p>
        </div>
        <div class="address2">
           <p>Contact<br>
           Phone: +91 9964181777 | 8495869737</p>
        </div>
    </div>
</div>

<!-- <div class="policy">
    <div class="step1">
        Privacy & Policies | PRANAMS
    </div>
    <div class="step1">
        icon1 for instagram
    </div>
    <div class="step2">
        icon2 for Whatsapp
    </div>
    <div class="step3">
        icon2 for E-mail
    </div>
    <div class="step2">
        icon2 for facebook
    </div>
</div> -->